 .u-section-1 {
  background-image: url("images/1525.jpg");
  background-position: 50% 50%;
  min-height: 801px;
}

.u-section-1 .u-group-1 {
  width: 476px;
  min-height: 391px;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.15);
  margin: 70px calc(((100% - 1140px) / 2) + 155px) 60px auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  margin: 52px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  margin: 27px 0 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 660px;
  }

  .u-section-1 .u-group-1 {
    margin-right: calc(((100% - 1140px) / 2) + 255px);
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    background-position: 19.02% 47.84%;
    background-size: auto 115%;
    min-height: 506px;
  }

  .u-section-1 .u-group-1 {
    width: 388px;
    margin-right: calc(((100% - 1140px) / 2) + 332px);
    margin-bottom: 24px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 380px;
  }

  .u-section-1 .u-group-1 {
    margin-right: calc(((100% - 1140px) / 2) + 152px);
    margin-bottom: 13px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 239px;
  }

  .u-section-1 .u-group-1 {
    width: 290px;
    margin-right: calc(((100% - 1140px) / 2) + 50px);
  }
} .u-section-2 {
  background-image: linear-gradient(#d9d9d9, #f2f2f2);
}

.u-section-2 .u-sheet-1 {
  min-height: 308px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 900px;
  margin: 60px auto 60px 120px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 189px;
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-2 .u-text-1 {
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 189px;
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-2 .u-btn-1 {
  letter-spacing: 1px;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: 49px auto 0 -70px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 254px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-left: 40px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 106px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 206px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-1 {
    margin-left: auto;
  }

  .u-section-2 .u-text-2 {
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 0;
  }
}